@import url("https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

.vend-sans {
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@layer base {
  body {
    background-color: rgb(6, 9, 26);
    background-attachment: fixed;
    background-image: radial-gradient(
      circle at center,
      #290ec48f 0%,
      rgba(0, 0, 0, 0) 60%
    );
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", "Fira Code", sans-serif;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

  ::placeholder {
    color: rgb(93, 93, 204);
  }

  textarea:focus,
  input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(20, 20, 209, 0.671);
    color: white;
  }

  .no-scroll {
    overflow: hidden;
  }

  .img-effect {
    transition: transform 0.3s ease; /* animação suave */
  }

  .img-effect:hover {
    transform: translate(-5px, -5px); /* sobe e desloca para a esquerda */
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(36, 70, 143, 0.288) transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(36, 70, 143, 0.288);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(36, 70, 143, 0.288);
  }
}

@layer utilities {
  .gradient-bg {
    background: linear-gradient(90deg,rgba(105, 240, 117, 1) 0%, rgba(22, 39, 224, 1) 53%, rgba(5, 15, 66, 1) 100%);
  }
}
